.btnCount {
  background-color:#FFA500;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  box-shadow: 10px, 10px;
  width: 20rem;
  height: 5rem;
  font-size: 2.5rem;
  
}

.btnCount:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 4px 4px 0 rgba(0,0,0,0.19);
}

.crearBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myList {
  list-style-type: none;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  
}

.myUnderline {
  text-decoration: none;
  color: black;
}

.btnStart {
  background-color:#FFA500;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 10px, 10px;
  width: 6rem;
  
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.homeTxt {
  display:block;
  height: 2px; 
  text-align: center;
  margin-bottom: 4rem;
}

.homeIcon{
  font-size: 3rem;
}

.navHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logoutBtn{
  background-color:#f05a77;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  box-shadow: 10px, 10px;
  width: 5rem;
  height: 2rem;

}