.btnCount {
  background-color:#FFA500;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 10px, 10px;
  width: 6rem;
  
  
}

.btnCount:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 4px 4px 0 rgba(0,0,0,0.19);
}

.crearBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.myUnderline {
  text-decoration: none;
  color: black;
}

.btnStart {
  background-color:#FFA500;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 10px, 10px;
  width: 6rem;
  
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.homeTxt {
  display:block;
  height: 2px; 
  padding: 0;
}